button.backButton,
button.backButton:visited,
button.backButton:active,
button.backButton:focus,
button.backButton:hover {
  margin-bottom: 1.5rem;
  background: none;
  color: #350a06;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  font-family: inherit;
  transition: color 0.2s;
  outline: none;
  text-decoration: none;
}

body.theme-dark button.backButton,
body.theme-dark button.backButton:visited,
body.theme-dark button.backButton:active,
body.theme-dark button.backButton:focus,
body.theme-dark button.backButton:hover {
  color: #fff !important;
}
body.theme-light button.backButton,
body.theme-light button.backButton:visited,
body.theme-light button.backButton:active,
body.theme-light button.backButton:focus,
body.theme-light button.backButton:hover {
  color: #350a06 !important;
}
